body{
    background-image: url(/img/fondo1.jpg);
  }

.animal{
padding-left: 40px;;
}

.drop{
    margin-left: 9rem;
    text-align: center;

}
.drop img{
    border: silver 8px solid;
    border-image-source: url("/img/marco.png");
    border-image-slice: 30;
    text-align: justify;
}
#letra{
    margin-left: 20rem;
    font-size: 30px;
}
.encabezado{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#salir{
    margin-left: 55rem;
}


