body{
    background-image: url(/img/fondo.jpg);
  }

.animal{
padding-left: 40px;;
}

.drop{
    padding-left: 9rem;
    text-align: center;
}
#letra{
    margin-left: 20rem;
    font-size: 30px;
}
.encabezado{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#salir{
    margin-left: 55rem;
}

canvas{
          border:solid;
     }