.final{
    border: #FEC8D8 5px solid;
    text-align: center;
    bottom: -20px;
    font-size: 50px;
    background-image: url(/img/fondofinal.jpg);
    background-size: cover;
    color: #572364;
    font: 700 4em/1 "Oswald", sans-serif;
}